.icon-sm {
    width: 16px;
    height: 16px;
}

.green {
  fill: rgb(13, 117, 83);
  cursor: pointer;
}

.fill-grey {
  fill: #566573
}

.red {
    color: red;
}

.grey {
  color: #ABB2B9;
}

.dark-grey {
  color: #566573
}

.mr-2 {
    margin-right: 2px;
}

.mr-4 {
    margin-right: 6px;
}

.mr-6 {
    margin-right: 6px;
}

.ml-6 {
    margin-left: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.ml-8 {
    margin-left: 8px;
}

.pr-6 {
  padding-right: 6px;
}

.pl-half {
  padding-left: 10%;
}

.pl-6 {
  padding-left: 6px;
}

.b {
    font-weight: bold;
}

.active2 {
    background-color: #cec5c5 !important;
}

.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: #3097D1;
  border-color:#2a88bd;
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

button {
  text-align: center;
  display: block;
  cursor: pointer;
}

.btn-startup{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.18);
  line-height: 1.5;
  padding: .5em 1em;
  border: none;
  background-image: linear-gradient(-180deg, 	#80D1F3 0%, #4A90E2 100%);
  box-shadow: 0 1px 2px 0 rgba(74,144,226,0.44), 	0 2px 8px 0 rgba(0,0,0,0.14);
  border-radius: 6px;
}

.btn-startup:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 6px 0 rgba(74,144,226,0.20), 0 4px 9px 0 rgba(0,0,0,0.20);
}

.mkt-icon {
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  background-color: #008DF5;
}

.pulse {
    margin: 100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }


@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 94px;
  top: 62px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1.8s infinite;
  animation: lds-spinner linear 1.8s infinite;
  background: #3097D1;
  width: 12px;
  height: 8px;
  border-radius: 40%;
  -webkit-transform-origin: 6px 38px;
  transform-origin: 6px 38px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.65s;
  animation-delay: -1.65s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -1.35s;
  animation-delay: -1.35s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

.side-nav > div > ul > li > a {
  color: #566573;
  font-weight: bold;
}
